<a href="https://colab.research.google.com/github/mrsyamhfis/Python_Pandas/blob/main/API_Web_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Steps on how to extract data from API**

In [ ]:
import pandas as pd

In [ ]:
import requests
import json

1. Making a GET request to API

In [ ]:
response_API = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a36854c943bf005c8704971b6a267f76&page=3')

2. Extract JSON data from the response

In [ ]:
data = response_API.json()

3. Converting json into pandas df

In [ ]:
#takjadi
#df = pd.read_json(extract_data)
#df = pd.read_json(extract_data, orient = 'index')
#df = pd.read_json('extract_data')
#db = extract_data.read()
#extract_data.to_csv('cleaned_dataset.csv')
#ee = json.normalize(extract_data)
#ee = pd.DataFrame('extract_data')

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.to_csv('new_data.csv', index=False)

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   page           20 non-null     int64
 1   results        20 non-null     object
 2   total_pages    20 non-null     int64
 3   total_results  20 non-null     int64
dtypes: int64(3), object(1)
memory usage: 768.0+ bytes
None

In [ ]:
print(df)

    page                                            results  total_pages  \
0      3  {'adult': False, 'backdrop_path': '/dMZxEdrWIz...          544
1      3  {'adult': False, 'backdrop_path': '/rAiYTfKGqD...          544
2      3  {'adult': False, 'backdrop_path': '/nC3IjYhUgZ...          544
3      3  {'adult': False, 'backdrop_path': '/rl7Jw8PjhS...          544
4      3  {'adult': False, 'backdrop_path': '/dVr11o9or7...          544
5      3  {'adult': False, 'backdrop_path': '/i1GT0e6Crg...          544
6      3  {'adult': False, 'backdrop_path': '/fRGxZuo7jJ...          544
7      3  {'adult': False, 'backdrop_path': '/jxEdvdiBpE...          544
8      3  {'adult': False, 'backdrop_path': '/kWYfW2Re0r...          544
9      3  {'adult': False, 'backdrop_path': '/p47ihFj4A7...          544
10     3  {'adult': False, 'backdrop_path': '/hh28CTWLdx...          544
11     3  {'adult': False, 'backdrop_path': '/AfyuI3glMC...          544
12     3  {'adult': False, 'backdrop_path': '/aQ7444JX7g...          544
13     3  {'adult': False, 'backdrop_path': '/8ZTVqvKDQ8...          544
14     3  {'adult': False, 'backdrop_path': '/zGs5tZOlvc...          544
15     3  {'adult': False, 'backdrop_path': '/9LSsSPbP71...          544
16     3  {'adult': False, 'backdrop_path': '/8AMKZODrCv...          544
17     3  {'adult': False, 'backdrop_path': '/5qtOVAcBFo...          544
18     3  {'adult': False, 'backdrop_path': '/l5K9elugft...          544
19     3  {'adult': False, 'backdrop_path': '/aYcnDyLMnp...          544

    total_results
0           10872
1           10872
2           10872
3           10872
4           10872
5           10872
6           10872
7           10872
8           10872
9           10872
10          10872
11          10872
12          10872
13          10872
14          10872
15          10872
16          10872
17          10872
18          10872
19          10872