<a href="https://colab.research.google.com/github/mrsyamhfis/DataSummary_Python_Pandas/blob/main/C4_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 4: Hands-On Data Summary with Python

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Note**: This dataset is unable to present the column 'Total Score' in the analysis

First few steps:
1. Connect notebook
2. Mount google drive with notebook
3. Copy path of dataset
4. Import libraries
5. Import dataset

Import dataset

In [ ]:
import pandas as pd
students = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Student score dataset.csv")

## What is Pandas?
A library of python from where we can import and use different functions especially for data exploration and analysis on structured tables of a dataset.

## What is a dataframe?
Dataframe is a dataset which consists of rows and columns.

## Section 1
## Data Exploration

###1.Data preprocessing
To check if our data needs preprocessing, NULL removals, NAs placing.

In [ ]:
students.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
Total Score                    0
Obtained Percentage            0
dtype: int64

###2.Describe dataset

In [ ]:
students.describe()

,math score,reading score,writing score,Total Score,Obtained Percentage
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,66.396000,69.002000,67.738000,203.136000,67.712000
std,15.402871,14.737272,15.600985,43.542732,14.514123
min,13.000000,27.000000,23.000000,65.000000,21.670000
25%,56.000000,60.000000,58.000000,175.750000,58.585000
50%,66.500000,70.000000,68.000000,202.000000,67.330000
75%,77.000000,79.000000,79.000000,235.000000,78.330000
max,100.000000,100.000000,100.000000,300.000000,100.000000

###3.Shape and Size of your dataset

In [ ]:
students.shape

(1000, 10)

In [ ]:
students.info

<bound method DataFrame.info of      gender race/ethnicity parental level of education         lunch  \
0      male        group A                 high school      standard
1    female        group D            some high school  free/reduced
2      male        group E                some college  free/reduced
3      male        group B                 high school      standard
4      male        group E          associate's degree      standard
..      ...            ...                         ...           ...
995    male        group C                 high school      standard
996    male        group D          associate's degree  free/reduced
997  female        group C            some high school  free/reduced
998  female        group C                some college      standard
999    male        group A                some college      standard

    test preparation course  math score  reading score  writing score  \
0                 completed          67             67             63
1                      none          40             59             55
2                      none          59             60             50
3                      none          77             78             68
4                 completed          78             73             68
..                      ...         ...            ...            ...
995                    none          73             70             65
996               completed          85             91             92
997                    none          32             35             41
998                    none          73             74             82
999               completed          65             60             62

     Total Score   Obtained Percentage
0             197                 65.67
1             154                 51.33
2             169                 56.33
3             223                 74.33
4             219                 73.00
..            ...                   ...
995           208                 69.33
996           268                 89.33
997           108                 36.00
998           229                 76.33
999           187                 62.33

[1000 rows x 10 columns]>

###4.Explanation of Columns of Dataset

In [ ]:
students.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score', 'Total Score ', 'Obtained Percentage '],
      dtype='object')

## Section 2
## Data Aggregation

###1.Check the types of data in the columns
*   Object means data type is either categorical, text, or boolean etc.
*   Int and float are numerical type.
*   Object - check unique values
*   Int - check min/max

In [ ]:
students.dtypes

gender                          object
race/ethnicity                  object
parental level of education     object
lunch                           object
test preparation course         object
math score                       int64
reading score                    int64
writing score                    int64
Total Score                      int64
Obtained Percentage            float64
dtype: object

###2.Checking count of unique entries and their values for Categorical Columns

In [ ]:
students['gender'].nunique()

2

In [ ]:
students['race/ethnicity'].nunique()

5

In [ ]:
print(students['gender'].nunique())
print(students['gender'].unique())

2
['male' 'female']

In [ ]:
students['race/ethnicity'].nunique()
students['race/ethnicity'].unique()

array(['group A', 'group D', 'group E', 'group B', 'group C'],
      dtype=object)

In [ ]:
students['parental level of education'].nunique()
students['parental level of education'].unique()

array(['high school', 'some high school', 'some college',
       "associate's degree", "bachelor's degree", "master's degree"],
      dtype=object)

###3.Checking min/max entries and their values for Numerical Columns

In [ ]:
students['math score'].min()

13

In [ ]:
students['math score'].max()

100

Note: We have to use the 'print()' function to print multiple statements in one cell

In [ ]:
print("Minimum Scores")
print("Minimum of Math Score =", students["math score"].min())
print("Minimum of Reading Score =", students["reading score"].min())
print("Minimum of Writing Score =", students["writing score"].min())

Minimum Scores
Minimum of Math Score = 13
Minimum of Reading Score = 27
Minimum of Writing Score = 23

In [ ]:
print("Maximum Scores")
print("Maximum of Math Score =", students["math score"].max())
print("Maximum of Reading Score =", students["reading score"].max())
print("Maximum of Writing Score =", students["writing score"].max())

Maximum Scores
Maximum of Math Score = 100
Maximum of Reading Score = 100
Maximum of Writing Score = 100

###4. Range
Calculated by subtracting max to min value

In [ ]:
print("Range of Math Score")
print(students["math score"].max() - students["math score"].min())

Range of Math Score
87

In [ ]:
print("Range of Writing Score")
print(students["writing score"].max() - students["writing score"].min())

Range of Writing Score
77

In [ ]:
print("Range of reading Score")
print(students["reading score"].max() - students["reading score"].min())

Range of reading Score
73

###5. Filter ".filter( )"
- When dataset is too large, and we need to analyse only a particular subset of data efficiently.

In [ ]:
filter_subset = students.filter(['gender','test preparation course', 'math score'])

In [ ]:
filter_subset

     gender test preparation course  math score
0      male               completed          67
1    female                    none          40
2      male                    none          59
3      male                    none          77
4      male               completed          78
..      ...                     ...         ...
995    male                    none          73
996    male               completed          85
997  female                    none          32
998  female                    none          73
999    male               completed          65

[1000 rows x 3 columns]

head() function provides top 5 values of the rows

In [ ]:
students.filter(['gender','test preparation course', 'math score']).head()

   gender test preparation course  math score
0    male               completed          67
1  female                    none          40
2    male                    none          59
3    male                    none          77
4    male               completed          78

In [ ]:
filter_subset.info

<bound method DataFrame.info of      gender test preparation course  math score
0      male               completed          67
1    female                    none          40
2      male                    none          59
3      male                    none          77
4      male               completed          78
..      ...                     ...         ...
995    male                    none          73
996    male               completed          85
997  female                    none          32
998  female                    none          73
999    male               completed          65

[1000 rows x 3 columns]>

###6. Sort dataset with ".sort_values( )"

In [ ]:
students.sort_values(by=['math score'], ascending=True).head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total Score,Obtained Percentage
392,female,group C,some college,free/reduced,none,13,29,23,65,21.67
832,female,group D,some college,free/reduced,none,13,36,37,86,28.67
18,female,group C,associate's degree,free/reduced,none,23,44,44,111,37.00
729,female,group B,some high school,free/reduced,none,25,36,37,98,32.67
496,female,group B,some high school,free/reduced,none,26,34,28,88,29.33
908,female,group C,some college,free/reduced,completed,26,44,46,116,38.67
462,female,group C,some college,free/reduced,completed,28,44,50,122,40.67
775,female,group C,some high school,free/reduced,none,28,38,31,97,32.33
568,male,group C,high school,free/reduced,none,29,38,27,94,31.33
109,male,group C,some college,free/reduced,none,30,33,33,96,32.00

can be saved in a variable to use later on

In [ ]:
sorted_df = students.sort_values(by=['math score'], ascending=True).head(10)

In [ ]:
sorted_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total Score,Obtained Percentage
392,female,group C,some college,free/reduced,none,13,29,23,65,21.67
832,female,group D,some college,free/reduced,none,13,36,37,86,28.67
18,female,group C,associate's degree,free/reduced,none,23,44,44,111,37.00
729,female,group B,some high school,free/reduced,none,25,36,37,98,32.67
496,female,group B,some high school,free/reduced,none,26,34,28,88,29.33

## Section 3
## Data Summary

In [ ]:
students.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score', 'Total Score ', 'Obtained Percentage '],
      dtype='object')

###1.Mean/Average

In [ ]:
students.mean()

<ipython-input-29-19415d473df7>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  students.mean()

math score               66.396
reading score            69.002
writing score            67.738
Total Score             203.136
Obtained Percentage      67.712
dtype: float64

In [ ]:
students['math score'].mean()

66.396

###2.Median

In [ ]:
students.median()

<ipython-input-31-47663da203ac>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  students.median()

math score               66.50
reading score            70.00
writing score            68.00
Total Score             202.00
Obtained Percentage      67.33
dtype: float64

In [ ]:
students['writing score'].median()

68.0

###3.Mode

In [ ]:
students.mode()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total Score,Obtained Percentage
0,male,group C,some college,standard,none,63.0,71.0,64,191,63.67
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71,237,79.00

Checking if the amount of students receiving writing score of 64 is the same as score of 71

In [ ]:
students[students["writing score"]==64].count()

gender                         34
race/ethnicity                 34
parental level of education    34
lunch                          34
test preparation course        34
math score                     34
reading score                  34
writing score                  34
Total Score                    34
Obtained Percentage            34
dtype: int64

In [ ]:
students[students["writing score"]==71].count()

gender                         34
race/ethnicity                 34
parental level of education    34
lunch                          34
test preparation course        34
math score                     34
reading score                  34
writing score                  34
Total Score                    34
Obtained Percentage            34
dtype: int64

###4.Variance and Standard Deviation

In [ ]:
students['math score'].var()

237.24843243243245

In [ ]:
students['writing score'].var()

243.39074674674671

In [ ]:
print("This is the varinace for maths score", students['math score'].var())

This is the varinace for maths score 237.24843243243245

In [ ]:
students['writing score'].std()

15.600985441527298

###5.Group by

Advanced form of data summarizing

In [ ]:
grouped_df = students.groupby('parental level of education')

In [ ]:
grouped_df.mean()

,math score,reading score,writing score,Total Score,Obtained Percentage
parental level of education,,,,,
associate's degree,69.536946,70.985222,70.113300,210.635468,70.211773
bachelor's degree,71.491071,74.008929,74.410714,219.910714,73.303750
high school,65.207921,67.400990,64.846535,197.455446,65.818366
master's degree,71.585714,75.428571,75.885714,222.900000,74.300429
some college,65.297297,68.045045,66.734234,200.076577,66.692207
some high school,60.701571,64.408377,62.539267,187.649215,62.549634

In [ ]:
grouped_df.count()

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score,Total Score,Obtained Percentage
parental level of education,,,,,,,,,
associate's degree,203,203,203,203,203,203,203,203,203
bachelor's degree,112,112,112,112,112,112,112,112,112
high school,202,202,202,202,202,202,202,202,202
master's degree,70,70,70,70,70,70,70,70,70
some college,222,222,222,222,222,222,222,222,222
some high school,191,191,191,191,191,191,191,191,191

In [ ]:
second_gb = students.groupby('race/ethnicity')

In [ ]:
second_gb.mean()

,math score,reading score,writing score,Total Score,Obtained Percentage
race/ethnicity,,,,,
group A,65.215190,68.556962,66.974684,200.746835,66.915949
group B,63.170732,67.102439,65.736585,196.009756,65.336537
group C,63.130031,66.383901,64.523220,194.037152,64.679071
group D,69.267176,72.087786,72.259542,213.614504,71.204618
group E,74.465649,72.526718,70.213740,217.206107,72.402290

In [ ]:
second_gb.count()

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total Score,Obtained Percentage
race/ethnicity,,,,,,,,,
group A,79,79,79,79,79,79,79,79,79
group B,205,205,205,205,205,205,205,205,205
group C,323,323,323,323,323,323,323,323,323
group D,262,262,262,262,262,262,262,262,262
group E,131,131,131,131,131,131,131,131,131

###6.Distribution in Quantiles (Quartiles (quarter), Quantiles (fifth), Percentiles (hundreth))

Calculating the quartiles by dividing the dataset into 4 groups

In [ ]:
students["math score"].quantile([0.25,0.5,0.75,1])

0.25     56.0
0.50     66.5
0.75     77.0
1.00    100.0
Name: math score, dtype: float64

Calculating the quartiles by dividing the dataset into 5 groups

In [ ]:
students["math score"].quantile([0.2,0.4,0.6,0.8,1])

0.2     53.0
0.4     63.0
0.6     71.0
0.8     80.0
1.0    100.0
Name: math score, dtype: float64

Calculating the quintiles of complete dataset

In [ ]:
students.quantile([0.2,0.4,0.6,0.8,1.0], axis = 0)

,math score,reading score,writing score,Total Score,Obtained Percentage
0.2,53.0,57.0,54.0,167.0,55.670
0.4,63.0,65.0,64.0,192.0,64.000
0.6,71.0,73.0,72.0,216.0,72.000
0.8,80.0,82.0,82.0,241.2,80.398
1.0,100.0,100.0,100.0,300.0,100.000

## Section 4
## Identifying Outliers

IQR of Dataset

In [ ]:
students["math score"].quantile([0.25,0.75])

0.25    56.0
0.75    77.0
Name: math score, dtype: float64

In [ ]:
q1, q3 = students["math score"].quantile([0.25,0.75])

In [ ]:
print(q1, q3)

56.0 77.0

In [ ]:
iqr = q3 - q1

In [ ]:
iqr

21.0

In [ ]:
lower_min = q1 - (1.5*iqr)
upper_max = q3 + (1.5*iqr)

In [ ]:
print("lower expected min of IQR =", lower_min)
print("upper expected max of IQR =", upper_max)

lower expected min of IQR = 24.5
upper expected max of IQR = 108.5

Indetifying the outlier ( | is the logical operator 'or')

In [ ]:
students[(students["math score"] < 24.5) | (students["math score"] > 108.5)]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total Score,Obtained Percentage
18,female,group C,associate's degree,free/reduced,none,23,44,44,111,37.00
392,female,group C,some college,free/reduced,none,13,29,23,65,21.67
832,female,group D,some college,free/reduced,none,13,36,37,86,28.67